<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title my First medium pug
        link(href='/css/mycss.css', rel='stylesheet')
        
    body
        header
            p.heading my soon to be menu
            a.about_link(href='about.html', target='_blank') About Us
        section
            p wonderful learning templating
        footer
            p call me if you need help

