<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
             
</head>
<!--used materializecss.com to get gorm and cdns for css and javascript and codejquery.com for jquerry cdn-->
<body>
<div class="container">
    <h1>File upload</h1>
    <!-- the action route below must match that of the post route-->
    <form action="/register/upload" method="POST" enctype="multipart/form-data"> 
      <!--body parse has challenges with multipart encription-->
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input class="myfile" name="myfile" type="file">
              </div>
              <div class="file-path-wrapper">
                <input name="path" class="file-path validate" type="text">
              </div>
            </div>
            <button type="submit" class="btn">upload</button>
          </form>
</div>



        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>