<!DOCTYPE html>
html(lang="en")
    head  
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")     
        title First pug template form
    body
        div.row.justify-content-center
            div.col-md-6
                div.card-header
                    header.card-title Register
                form(method="post") 
                    div.form-row
                        div.col-form-group
                            label first name
                            input.form-control(name ="firstname")
                        div.col-form-group
                            label last name
                            input.form-control(name ="lastname")
                    div.form-group
                                label(for="email")
                                input.form-control(type="email" placeholder = " " name="email")
                                small.form-text.text-muted We'll never share your email with anyone else.
                    ddiv.form-group
                                label.form-check.form-check-inline
                                    input.form-check-input(type="radio" name="gender" value="Female")
                                    span.form-check-label Female

                                label.form-check.form-check-inline
                                    input.form-check-input(type="radio" name="gender" value="Male")
                                    span.form-check-label Male
                    div.form-row
                                div.col-md-6.form-group
                                    label City
                                    input.form-control(type="text" name="city" value="city")
                                
                                div.col-md-6.form-group
                                    label Country
                                    select#inputState.form-control(name="country")
                                        option Choose.......
                                        option Tanzania
                                        option Kenya
                                        option Rwanda
                                        option Sudan
                                        option(selected) Uganda
                                       
                    div.form-group
                                label Create password
                                input.form-control(name="password" type="password" value="password")
                    div.form-group
                                button.btn.btn-primary.btn-block(type="submit") Register